table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 
.display-inline{
  display: inline-block;
}  
.width20{
  width: 20%;
}
.floatR{
  float: right;
}
.paddB5{
  padding-bottom: 5%;
}